<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h6>Dashboard</h6>
<h3>Welcome {{name}}_</h3>
<p>Here are your stories</p>
{{#if stories}}
    <table class="table table-hover striped">
        <thead>
            <tr>
                <th scope = "col">Title</th>
                <th scope = "col">Date</th>
                <th scope = "col">Status</th>
                <th scope = "col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <!-- had to do th from td, else table look weird -->
                    <th scope = "row"><a href="/stories/{{_id}}">{{title}}</a></th>
                    <th scope = "row">{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</th>
                    <th><span class="dash-status">{{status}}</span></th>
                    <th scope = "row">
                        <a href="/stories/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </th>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories</p>
{{/if}}

<style> 
table { 
    margin-top: 50px;
}

body {
    background-color: #FFC300;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    font-weight: 800;
}
h6 { 
    font-family: 'Open Sans', sans-serif;
    margin-top: 4rem;
    font-size: 4rem;
}
p, thead { 
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
thead {
    background-color: #900C3F;
    color: #FFC300;
}
tbody {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
</style>
